<%= form_for(@project) do |f| %>
   <% @project.errors.full_messages.each do |msg| %>
   		<p><%= msg %></p>
   	<% end %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	
	<%= f.submit %>	
<% end %>
