<% title(@project.name, "Projects") %>
<p><%= @project.name %> </p>
<p>
	<%= link_to "Edit Project", edit_project_path(@project) %>
</p>

<p>
	<%= link_to "Delete Project", @project, :confirm => "Are you sure you want to delete this project?", :method => :delete %>
</p>

<p>
	<%= link_to "New Ticket", new_project_ticket_path(@project) %>
</p>

<ul id='tickets'>

	<% @project.tickets.each do |ticket| %>
		<li>#<%= ticket.id %> - <%= link_to ticket.title, [ticket.project, ticket] %></li>
	<% end %>
</ul>